.DS_Store
/LeftHanded/Atari_Joypad_2_Button-backups
*.lck
LeftHanded/fp-info-cache
RightHanded/RevB/fp-info-cache
/RightHanded/RevB/Atari_Joypad_2_Button-backups
MSX_Adaptor/fp-info-cache
/MSX_Adaptor/MSX_Adaptor-backups
*.kicad_prl
/Paddle/Atari_Paddle-backups
*.bak
Paddle/fp-info-cache
Paddle/fp-lib-table
Paddle/sym-lib-table
/RightHanded/RevC/Atari_Joypad_2_Button-backups
RightHanded/RevC/fp-info-cache
